<footer>
  <div class="f-info">
    <div class="f-info-main">
      <div class="f-info-contact">
        <span>
          <i
            class="fa-solid fa-phone"
            style="margin-right: 5px; color: #d72638"
          ></i>
          For any help, you may call us at <strong>1800-267-XXXX</strong>
        </span>
        <span>(Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM)</span>
      </div>

      <div class="f-info-socials">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-youtube"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-pinterest"></i>
      </div>
    </div>
    <div class="f-info-links">
      <a href="/Terms & Conditions">Terms & Conditions</a>
      <a href="/Shipping Policy">Shipping Policy</a>
      <a href="/Cancellation Policy">Cancellation Policy</a>
      <a href="/Privacy Policy">Privacy Policy</a>
      <div style="font-weight: 900">
        © 2025 REDHEART E-RETAIL LIMITED All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
