<nav class="navbar navbar2 navbar-expand-lg sticky-top border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-links2">
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Make Up"
          ><b>Make Up</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Skin Care"
          ><b>Skin Care</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Hair Care"
          ><b>Hair Care</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Personal Care"
          ><b>Personal Care</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Bath & Body"
          ><b>Bath & Body</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Health & Hygiene"
          ><b>Health & Hygiene</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Mom & Baby"
          ><b>Mom & Baby</b></a
        >
        <a class="nav-link active" aria-current="page" href="/categories/Men"
          ><b>Men</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Appliances"
          ><b>Appliances</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Fragrance"
          ><b>Fragrance</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Accessories"
          ><b>Accessories</b></a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/categories/Natural"
          ><b>Natural</b></a
        >
      </div>
    </div>
  </div>
</nav>
