<nav class="navbar navbar1 navbar-expand-lg border-bottom">
  <div class="container-fluid nav-items">
    <!-- brand name -->
     <a class="navbar-brand brand nav-item" href="/">REDHEART❤️</a>
  
    <!--other icons  -->
    <div class="collapse nav-links1 navbar-collapse" id="navbarSupportedContent">
      <!-- all products -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">New Arrivals</a>
        </li>
        <!-- new -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="/products/new">New</a>
        </li> -->
        <!-- brands -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/brands">Brands</a>
        </li>
        <!-- offers -->
        <li class="nav-item">
          <a class="nav-link" href="/offers">Offers</a>
        </li>
        <!-- elite premium -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="/offers/Elite"
            tabindex="-1"
            aria-disabled="true"
            >Elite</a
          >
        </li>
      </ul>
      <!--search bar  -->
      <form class="d-flex nav-item search-bar">
        <input
          class="form-control me-2"
          type="search"
          aria-label="Search"
        />
        <button class="btn btn-outline-danger" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
